.food-detail-content span{
    color:#131230;
    font-size: 24px;
    font-weight:700
}

.food-detail-content p {
    font-size: 18px;
}
.food-detail image {
    opacity: 0.5;
}

#info-tab .card-header {
    color:#fff !important;
    background-color: #f8b600;
    
}

#info-tab button {
    color:#fff;
}

.food-detail-img {
    height: 50%;
}

#score i {
    color: #f8b600;
    margin-right: -10px
}

#score {
    font-size: 60px;
}

@media (min-width: 425px) and (max-width: 1024.98px){
    #score {
        font-size: 50px;
    }
}

@media (max-width: 425.98px){
    #score {
        font-size: 35px;
    }
}

.single-comment {
    border-bottom: 1px solid;
    margin-bottom: 25px;
}