html {
    font-size: 14px;
}
.food-detail-content span{
    color:#131230;
    font-size: 24px;
    font-weight:700
}

.food-detail-content p {
    font-size: 18px;
}
.food-detail image {
    opacity: 0.5;
}

#info-tab .card-header {
    color:#fff !important;
    background-color: #f8b600;
    
}

#info-tab button {
    color:#fff;
}

.food-detail-img {
    height: 50%;
}

#score i {
    color: #f8b600;
    margin-right: -10px
}

#score {
    font-size: 60px;
}

@media (min-width: 425px) and (max-width: 1024.98px){
    #score {
        font-size: 50px;
    }
}

@media (max-width: 425.98px){
    #score {
        font-size: 35px;
    }
}

.single-comment {
    border-bottom: 1px solid;
    margin-bottom: 25px;
    padding: 10px;
}

#comment-section {
    font-size: medium;
    padding: 10px;
    margin: 2px;
    border-bottom: 1px solid #777;
}

.comment-edit {
    font: normal normal normal 14px/1 FontAwesome;;
}

input[type="date"]::before {
    content: attr(data-placeholder);
    width: 100%;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before { display:none; }

#comment-body {
    resize: none;
}

.blind {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: none;
    clip: rect(0, 0, 0, 0);
}

#assign-star {
    font-size: large;
    display: inline-block;
    overflow: hidden;
    height: 40px;
}
.star-radioBox {
    position: relative;
    z-index: 1;
    float: left;
    width: 20px;
    height: 40px;
    cursor: pointer;
}
.star-radioBox input {
    opacity: 0 !important;
    height: 0 !important;
    width: 0 !important;
    position: absolute !important;
}